
<div class="page_wrapper">
	<div class="page_hero events parallax-window">
		<div class="row middle-xs border max-height">
			<div class="col-sm-12">
				<h1 class="text-white text-center heavy">Geraldo's at La Salle Park</h1>
				<p class="sub-heading text-white text-center">
					Set in picturesque La Salle Park, Geraldo’s offers stunning views of Lake Ontario from the shores of Burlington. Enjoy outdoor cocktails while mingling with fellow guests or take a walk in the nearby park to the marina.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="page_wrapper mt40 mb60">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Schedule</span></h3>
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
			<div class="schedule col-sm-8">
				<div class="time-block first">
					<div class="time-content">
						<p class="title weight-light large">Wedding Ceremony</p>
						<p class="light weight-light"><em>Streetsville United Church, Mississauga, ON</em></p>
						<p class="large">1:30PM (~30mins)</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Cocktails</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">3:30PM - 4:30PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">Dinner Served</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">5:30PM</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Performance by Bob and Cole</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">7:00PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">First Dance</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">7:30PM</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Cake Cutting</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">9:00PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">Candle Light Buffet</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">11:00PM</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
		</div>
	</div>
</div>
<div class="page_wrapper">
	<div id="map">

	</div>
</div>
<div class="page_wrapper mb60 grey">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Location Info</span></h3>
					<div class="text-center mb60">
						<h3>Ceremony</h3>
						<p class="medium weight-light">
							Streetsville United Church<br>
							274 Queen St S<br>
							Mississauga, Ontario L5M 1L8
						</p>
					</div>
					<div class="text-center">
						<h3>Reception</h3>
						<p class="medium weight-light">
							Geraldo’s at LaSalle Park<br>
							50 Northshore Boulevard E<br>
							Burlington, Ontario L7T 4J8
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page_wrapper">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Accommodations</span></h3>
					<p>
						<a href="http://www.thewaterfrontdowntown.com/" target="_blank"><%= image_tag("acc-waterfront.png", size: "278x150", class: "display-block center") %></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var event_loc1 = "274 Queen St S, Mississauga, ON L5M 1L8";
      var event_loc2 = "50 North Shore Boulevard East, Burlington, ON L7T 4J8";
      var map_center = {lat: 43.440955, lng: -79.788208};
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
          center: map_center,
          zoom: 13,
          scrollwheel: false,
          streetViewControl: false,
          mapTypeControl: false,
          zoomControl: false,
          draggable: false,
          styles: [{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"off"}]}]
      });
	  calculateAndDisplayRoute(directionsService, directionsDisplay);
	  directionsDisplay.setMap(map);

	  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: event_loc1,
          destination: event_loc2,
          travelMode: 'DRIVING',
          avoidTolls: true,
        }, function(response, status) {
        	console.log(response);
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzUK7s-7I6pRmDTZwflIcLOSH2GZjZBYk&callback=initMap">
</script>