
<div class="page_wrapper mt20">
	<div class="page_hero events parallax-window">
		<div class="row middle-xs border max-height">
			<div class="col-sm-12">
				<h1 class="text-white text-center heavy">Geraldo's at La Salle Park</h1>
				<p class="sub-heading text-white text-center">
					Set in picturesque La Salle Park, Geraldo’s offers stunning views of Lake Ontario from the shores of Burlington. Enjoy outdoor cocktails while mingling with fellow guests or take a walk in the nearby park to the marina.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="page_wrapper mt40 mb60">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Schedule of Events</span></h3>
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
			<div class="schedule col-sm-8">
				<div class="time-block first">
					<div class="time-content">
						<p class="title weight-light large">Wedding Ceremony</p>
						<p class="light weight-light"><em>Streetsville United Church, Mississauga, ON</em></p>
						<p class="large">1:30PM (~30mins)</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Cocktails</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">3:30PM - 4:30PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">Dinner Served</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">5:30PM</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Performance by Bob and Cole</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">7:00PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">First Dance</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">7:30PM</p>
					</div>
				</div>
				<div class="time-block cf">
					<div class="time-content right">
						<p class="title weight-light large">Cake Cutting</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">9:00PM</p>
					</div>
				</div>
				<div class="time-block">
					<div class="time-content">
						<p class="title weight-light large">Candle Light Buffet</p>
						<p class="light weight-light"><em>Geraldo’s at LaSalle Park, Burlington, ON</em></p>
						<p class="large">11:00PM</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
		</div>
	</div>
</div>
<div class="page_wrapper grey">
	<div id="map">

	</div>
</div>
<div class="page_wrapper grey">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Accomodations</span></h3>
					<p>
					<%= image_tag("acc-waterfront.png", size: "278x150", class: "display-block center") %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    function initMap() {
    var myLatLng = {lat: 43.302182, lng: -79.845835};
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
          center: myLatLng,
          zoom: 13,
          scrollwheel: false,
          streetViewControl: false,
          mapTypeControl: false,
          zoomControl: false,
          styles: [{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"off"}]}]
      });
      var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map
	  });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzUK7s-7I6pRmDTZwflIcLOSH2GZjZBYk&callback=initMap">
</script>