<% content_for :header do -%>
  <%= stylesheet_link_tag 'event' %>
<% end -%>
<div class="page_wrapper mt20 mb60">
	<div class="page_hero events parallax-window">
		<div class="row middle-xs border max-height">
			<div class="col-sm-12">
				<h1 class="text-white text-center heavy">Geraldo's at La Salle Park</h1>
				<p class="sub-heading text-white text-center">
					Set in picturesque La Salle Park, Geraldo’s offers stunning views of Lake Ontario from the shores of Burlington. Enjoy outdoor cocktails while mingling with fellow guests or something something something.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="page_wrapper mt40 mb60">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Schedule of Events</span></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page_wrapper grey">
	<div class="page_inner">
		<div class="row">
		    <div class="col-sm-12">
				<div class="page_section">
					<h3 class="leadline"><span>Accomodations</span></h3>
					<p>
					<%= image_tag("acc-waterfront.png", size: "278x150", class: "display-block center") %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>