
<div class="page_wrapper mt40 mb60">
	<div class="page_inner">
		<% if (params['rsvp']) %>
		<div class="well shadow mb60 blue">
			<h2 class="text-white notmargin">RSVP Sent</h2>
			<h3 class="notmargin text-white">
			Thanks for RSVP'ing to the wedding. We hope you could make it and will see you there.
			</h3>
			<h4 class="text-white nobmargin">- Lauren and Vince</h4>
		</div>
		<% end %>
		<h3 class="leadline"><span> Gifts &amp; Registry</span></h3>
		<div class="row padding">
			<div class="col-sm-5">
				<a href="https://www.bedbathandbeyond.ca/store/giftregistry/view_registry_guest.jsp?registryId=543625089&eventType=Wedding&pwsurl=" target="_blank" class="logo-box bbb"></a>
			</div>
			<div class="col-sm-7 row middle-xs">
				<div>
					<h3>Bed Bath and Beyond</h3>
					<p class="large">The trademark store of any budding young married couple. It’s true, we’ve got our eye on some pretty sweet stuff and set up a registry so you can buy it all for us, cool huh?</p>
				</div>
			</div>
		</div>
		<div class="row padding">
			<div class="col-sm-5">
				<a href="https://royalcaribbean.honeymoonwishes.com/Honeymoon-Registry-313252-Royal-Caribbean-International-Cruise-Adventure-of-the-Seas-Lauren-Finnie-Vince-Angeloni.html" class="logo-box rc" target="_blank"></a>
			</div>
			<div class="col-sm-7 row middle-xs">
				<div>
					<h3>Honeymoon Retreat</h3>
					<p class="large">For our honeymoon, we have planned to take a cruise to the caribbean. We've set up a donation link with Royal Caribbean so you can help us pay for it. </p>
					<p class="light">(Note: You can’t come.)</p>
				</div>
			</div>
			
		</div>

	</div>
</div>