<div class="page_wrapper mt40 mt60 mb80">
	<div class="page_inner">
		<h3 class="leadline"><span>RSVP Step 2: Response</span></h3>
		<div class="row">
			<div class="col-lg-12">
				<h4 class="text-center">Hi, <%= @invitee.name %>, thanks for responding to our invite. Will you be joining us for our special day? </h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="button-group cf mb10">
					<button class="button large btn-attending" value="true">Yes, Absolutely</button>
					<button class="button large btn-attending" value="false">Sorry, Can't Make It</button>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>