
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,700,400italic);
@import url(https://www.google.com/fonts#ChoosePlace:select/Collection:Roboto+Slab:400,300,700);
@import '_flex';
@import 'mixins';

// Color palette
$bg-primary: #003864;
$text-primary: #434343;
$text-light: #5d5d5d;

// Fonts
$font-roboto: 'Roboto', serif;
$font-roboto-slab: 'Roboto Slab', serif;

//----------------------------------------------------------------------
// Reset
//----------------------------------------------------------------------
html, body#index {
	height: 100%;
	border: none !important;
	background: #003864 url(home_hero.png) no-repeat 0 0;
	background-size: cover; 
	margin: 0;
	padding: 0;

	.navbar ul {		
		display: inline-block;
		float: none;
		text-align: center;
		width: 100%;

		li {
			a {
				color: #fff !important;

				&:hover {
					border-bottom: #fff 2px solid;
				}
			}
		}
	}

}

//----------------------------------------------------------------------
// Inner content
//----------------------------------------------------------------------
.page_wrapper {
	padding: 45px !important;
	@include flexbox();
	height: 100%;
	box-sizing: border-box;


	.page_inner {
		border: rgba(255,255,255,0.4) 1px solid;
		width: 100% !important;

		.home_middle {
			width: 455px;
			text-align: center;
			@include align-middle();
		}
	}
}

//----------------------------------------------------------------------
// Responsive
//----------------------------------------------------------------------
@media only screen and (max-width: 1200px) {
	html, body#index {
		background-position: 20% 0;
	}
}
@media only screen and (max-width: 800px) {
	html, body#index {
		background-position: 60% 0;
	}
	.page_wrapper {
		padding: 25px !important;

		.page_inner {
			.home_middle {
				width: 255px;
				padding: 20px;
				img {
					width: 100%;
				}
			}
		}
	}
}


